defaults
account default
auth on
from cron@bungee.email
host smtp.fastmail.com
password {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).msmtp_password }}
tls on
tls_starttls off
user thebengeu@fastmail.com
