github.com:
    git_protocol: https
    users:
        thebengeu:
            oauth_token: {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).github_oauth_token }}
    user: thebengeu
    oauth_token: {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).github_oauth_token }}
