[default]
aws_access_key_id = {{ onepasswordRead "op://Personal/AWS beng/Security/aws_access_key_id" }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/AWS beng/Security/aws_secret_access_key" }}
