[default]
aws_access_key_id = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_access_key_id_default }}
aws_secret_access_key = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_secret_access_key_default }}
