[default]
aws_access_key_id = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_access_key_id_default }}
aws_secret_access_key = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_secret_access_key_default }}
[supabase-long-term]
aws_access_key_id = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_access_key_id_supabase }}
aws_secret_access_key = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_secret_access_key_supabase }}
[supabase]
credential_process = aws-credentials-op supabase
mfa_process = op item get 'AWS supabase' --otp
mfa_serial = arn:aws:iam::646182064048:mfa/MFA
[supabase-dev-long-term]
aws_access_key_id = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_access_key_id_supabase_dev }}
aws_secret_access_key = {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).aws_secret_access_key_supabase_dev }}
[supabase-dev]
credential_process = aws-credentials-op supabase-dev
mfa_process = op item get 'AWS supabase-dev' --otp
mfa_serial = arn:aws:iam::436098097459:mfa/MFA
