#!/usr/bin/env sh
{{ if or (ne .chezmoi.os "windows") (ne .chezmoi.arch "arm64") }}
cargo install bob-nvim
cargo install tealdeer
cargo install xh

pipx install howdoi

pnpm add --global https://github.com/thebengeu/ts-node.git

bob use c235959fd909d75248c066a781475e207606c5aa
{{ end }}

{{ if eq .chezmoi.os "windows" }}
cargo install bat
cargo install fd-find
{{ else }}
cargo install gitui
{{ end }}
