#!/usr/bin/env sh
{{ if not (and (eq .chezmoi.os "windows") (eq .chezmoi.arch "arm64")) }}
cargo install \
  tealdeer \
  xh

pipx install howdoi

pnpm add --global https://github.com/thebengeu/ts-node.git
{{ end }}

{{ if eq .chezmoi.os "windows" }}
cargo install \
  bat \
  fd-find \
  lsd
{{ else }}
cargo install gitui
{{ end }}
