{{range $environmentVariable, $value := .environmentVariables -}}
set --export {{$environmentVariable}} {{$value}}
{{end -}}
set --export GH_TOKEN {{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).github_token_repo }}

{{- range $path := .paths}}
fish_add_path --global {{$path}}
{{- end}}

status is-interactive || exit

__wezterm_set_user_var WEZTERM_HOSTNAME {{.chezmoi.hostname}}

{{ if eq .chezmoi.os "windows" -}}
set --global fzf_fd_opts --hidden --path-separator //
{{ else }}
set --global fzf_fd_opts --hidden
{{ end }}

{{range $alias, $command := index .aliases -}}
abbr --add {{$alias}} '{{$command | replaceAllRegex "\\${([^}]+)}" "$$${1}" | replace "\\" "\\\\" | replace "'" "\\'" | replace "$HOME" "~" }}'
{{end}}
{{range $name, $lines_and_parameters := .functions -}}
function {{$name}} --argument-names {{$lines_and_parameters.parameters | join " "}}
{{- range $lines_and_parameters.lines}}
    {{.}}
{{- end}}
end
{{end}}

function br --wraps=broot
    set -l cmd_file (mktemp)
    if broot --outcmd $cmd_file $argv
        read --local --null cmd < $cmd_file
        rm -f $cmd_file
{{- if eq .chezmoi.os "windows" }}
        eval (echo $cmd | sd 'cd (.+)' 'cd (cygpath "$1")')
{{- else }}
        eval $cmd
{{- end }}
    else
        set -l code $status
        rm -f $cmd_file
        return $code
    end
end

{{output "fish" "-c" "starship init fish --print-full-init"}}
{{output "zoxide" "init" "--cmd" "cd" "fish"}}
set --export LS_COLORS '{{ output "vivid" "generate" "catppuccin-mocha" | trim }}'
