{{- if lookPath "atuin" }}
{{output "atuin" "init" "fish" "--disable-ctrl-r" "--disable-up-arrow"}}
{{end -}}
{{output "direnv" "hook" "fish"}}
{{output "fish" "-c" "starship init fish --print-full-init"}}
{{- if lookPath "switcher" }}
{{output "switcher" "init" "fish"}}
function s --wraps switcher
    kubeswitch $argv;
end
{{end -}}
{{- if lookPath "zoxide" }}
{{output "zoxide" "init" "--cmd" "cd" "fish"}}
{{end -}}
{{- if lookPath "vivid" }}
set --export LS_COLORS '{{ output "vivid" "generate" "catppuccin-mocha" | trim }}'
{{end -}}

{{- if ne .chezmoi.os "windows" }}
{{output "fish" "-c" "pyenv init -"}}
{{- end }}
