{{output "atuin" "init" "fish" "--disable-ctrl-r" "--disable-up-arrow"}}
{{output "direnv" "hook" "fish"}}
{{output "fish" "-c" "starship init fish --print-full-init"}}
{{output "zoxide" "init" "--cmd" "cd" "fish"}}
set --export LS_COLORS '{{ output "vivid" "generate" "catppuccin-mocha" | trim }}'

{{- if ne .chezmoi.os "windows" }}
{{output "fish" "-c" "pyenv init -"}}
{{- end }}
