{{- if lookPath "atuin" }}
{{output "atuin" "init" "fish"}}
{{end -}}
{{- if lookPath "mise" }}
{{output "mise" "activate" "fish" | replaceAllRegex "\\S+mise.exe" "mise"}}
{{end -}}
{{- if lookPath "starship" }}
{{output "fish" "-c" "starship init fish --print-full-init"}}
{{end -}}
{{- if lookPath "luarocks" }}
fish_add_path --global '{{output "luarocks" "path" "--lr-bin" }}'
{{end -}}
{{- if lookPath "switcher" }}
{{output "switcher" "init" "fish" | replace "\\rm" "command rm"}}
function s --wraps switcher
    kubeswitch $argv
end
{{end -}}
{{- if lookPath "zoxide" }}
{{output "zoxide" "init" "--cmd" "cd" "fish"}}
{{end -}}
{{- if lookPath "vivid" }}
set --export LS_COLORS '{{ output "vivid" "generate" "catppuccin-mocha" | trim }}'
{{end -}}
