age:
  identity: ~/.ssh/id_ed25519
  symmetric: true
encryption: age
hooks:
  apply:
    pre:
      args:
        - -c
        - >-
          cd $CHEZMOI_SOURCE_DIR;
          cue export --force --inject-vars --outfile .chezmoidata.yaml .nvim-configs.cue .chezmoidata.cue;
          cd .chezmoiexternals;
          cue export --force --inject-vars --outfile bat.yaml .common.cue .bat.cue;
          cue export --force --inject-vars --outfile externals.yaml ../.nvim-configs.cue .common.cue .externals.cue
      command: bash
interpreters:
  ps1:
    args:
      - '-NoLogo'
      - '-NoProfile'
    command: pwsh
  sh:
    command: bash
umask: 0o022
