{{range $name, $body_and_parameters := .functions -}}
function {{$name}} (
{{- range $i, $parameter := $body_and_parameters.parameters -}}
  {{- if $i}}, {{end -}}
  ${{$parameter -}}
{{end -}}
)
{
{{- range $body_and_parameters.body}}
  {{. -}}
{{end}}
}
{{- end}}

{{range $alias, $command := index .platformSpecificAliases .chezmoi.os | merge .aliases -}}
{{if $command | contains " " -}}
function {{$alias}}
{
  {{- if $command | hasPrefix (print $alias " ") }}
  & $(Get-Command -CommandType Application {{$alias}}){{ $command | trimPrefix $alias }} $args
  {{- else}}
  {{$command}} $args
  {{- end}}
}
{{else -}}
Set-Alias {{$alias}} {{$command}}
{{end}}
{{end -}}
