{{range $environmentVariable, $value := .environmentVariables -}}
export {{$environmentVariable}}={{$value}}
{{end -}}
{{range $path := .paths -}}
export PATH={{$path}}:$PATH
{{end -}}
{{range $name, $lines_and_parameters := .functions -}}
function {{$name}} () {
{{- range $line := $lines_and_parameters.lines}}
  {{- range $i, $parameter := $lines_and_parameters.parameters}}
    {{- $line = $line | replace $parameter ($i | add1 | toString)}}
  {{- end}}
  {{$line}}
{{- end}}
}
{{- end}}
{{range $alias, $command := index .platformSpecificAliases .chezmoi.os | merge .aliases -}}
function {{$alias}} () {
  {{$command | replace "$HOME" "~"}} $@
}
{{end -}}
{{output "broot" "--print-shell-function" "zsh"}}
{{output "zoxide" "init" "zsh"}}
export LS_COLORS='{{ output "vivid" "generate" "catppuccin-mocha" | trim }}'
