{{range $environmentVariable, $value := .environmentVariables -}}
export {{$environmentVariable}}={{$value}}
{{end -}}
{{range $path := .paths -}}
export PATH={{$path}}:$PATH
{{end -}}
{{range $name, $body_and_parameters := .functions -}}
function {{$name}} () {
{{- range $line := $body_and_parameters.body}}
  {{- range $i, $parameter := $body_and_parameters.parameters}}
    {{- $line = $line | replace $parameter ($i | add1 | toString)}}
  {{- end}}
  {{$line}}
{{- end}}
}
{{- end}}
