<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>1230</string>
	<key>license</key>
	<dict>
		<key>email</key>
		<string>beng@benghee.eu</string>
		<key>serial</key>
		<string>{{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).istat_menus_serial }}</string>
	</dict>
	<key>preferences</key>
	<dict>
		<key>Battery_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>Battery_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>1</string>
				<key>uuid</key>
				<string>BAFFFCE4-56A7-4A64-9495-E18DB14777CB</string>
			</dict>
		</array>
		<key>CPU_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>CPU_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>2</string>
				<key>uuid</key>
				<string>A65721D4-8959-4D28-9173-E987D8E24577</string>
			</dict>
		</array>
		<key>CPU_ProcessCount</key>
		<integer>15</integer>
		<key>Disks_MenubarItems</key>
		<array/>
		<key>FanControl_AutomaticSwitching</key>
		<array/>
		<key>FanControl_Sets</key>
		<array/>
		<key>Memory_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>Memory_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>3</string>
				<key>uuid</key>
				<string>70289493-C634-4286-8893-BEF1CF5A609A</string>
			</dict>
		</array>
		<key>Memory_ProcessCount</key>
		<integer>15</integer>
		<key>Memory_UFShowLabel</key>
		<integer>0</integer>
		<key>Migrated_6.0</key>
		<true/>
		<key>Migrated_6.22</key>
		<true/>
		<key>Migrated_6.5</key>
		<true/>
		<key>Migrated_6.52</key>
		<true/>
		<key>Migrated_WeatherProvider</key>
		<true/>
		<key>Network_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>Network_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>0</string>
				<key>uuid</key>
				<string>4E084086-E056-4E98-98AF-6B8FD5731030</string>
			</dict>
		</array>
		<key>Network_ProcessCount</key>
		<integer>15</integer>
		<key>Notifications-Enabled</key>
		<false/>
		<key>Notifications-Items</key>
		<array/>
		<key>Time_MenubarFormat</key>
		<array>
			<dict>
				<key>format</key>
				<array>
					<array>
						<string>EE</string>
						<string>' '</string>
						<string>HH</string>
						<string>:</string>
						<string>mm</string>
					</array>
				</array>
			</dict>
		</array>
		<key>TimerFrequency</key>
		<integer>3</integer>
	</dict>
	<key>version</key>
	<string>6.73</string>
</dict>
</plist>
