<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>1238</string>
	<key>license</key>
	<dict>
		<key>email</key>
		<string>beng@benghee.eu</string>
		<key>serial</key>
		<string>{{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).istat_menus_serial }}</string>
	</dict>
	<key>preferences</key>
	<dict>
		<key>Battery_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>Battery_MenubarCustomizeStates</key>
		<integer>0</integer>
		<key>Battery_MenubarItems</key>
		<array>
			<dict>
				<key>internal</key>
				<true/>
				<key>key</key>
				<string>F8Y3337H08L0J9TAA</string>
				<key>name</key>
				<string>Internal Battery</string>
				<key>subtype</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Battery_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>7</string>
				<key>uuid</key>
				<string>EA0A5DBE-C402-4666-A21C-31E43B810AC6</string>
			</dict>
		</array>
		<key>Battery_MenubarModeCharged</key>
		<array/>
		<key>Battery_MenubarModeCharging</key>
		<array/>
		<key>Battery_MenubarModeDraining</key>
		<array>
			<dict>
				<key>key</key>
				<string>7</string>
				<key>uuid</key>
				<string>387D3C62-F3A7-40C7-B647-9232FB1E5F18</string>
			</dict>
		</array>
		<key>Battery_MenubarModeNotCharging</key>
		<array/>
		<key>CPU_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>CPU_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>2</string>
				<key>uuid</key>
				<string>A65721D4-8959-4D28-9173-E987D8E24577</string>
			</dict>
		</array>
		<key>CPU_ProcessCount</key>
		<integer>15</integer>
		<key>Disks_MenubarItems</key>
		<array/>
		<key>FanControl_AutomaticSwitching</key>
		<array/>
		<key>FanControl_Sets</key>
		<array/>
		<key>Memory_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>Memory_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>3</string>
				<key>uuid</key>
				<string>70289493-C634-4286-8893-BEF1CF5A609A</string>
			</dict>
		</array>
		<key>Memory_ProcessCount</key>
		<integer>15</integer>
		<key>Memory_UFShowLabel</key>
		<integer>0</integer>
		<key>Migrated_6.0</key>
		<true/>
		<key>Migrated_6.22</key>
		<true/>
		<key>Migrated_6.5</key>
		<true/>
		<key>Migrated_6.52</key>
		<true/>
		<key>Migrated_6.60_ARM</key>
		<true/>
		<key>Migrated_WeatherProvider</key>
		<true/>
		<key>Network_DropdownOrderDisabled</key>
		<string>buttons</string>
		<key>Network_MenubarMode</key>
		<array>
			<dict>
				<key>key</key>
				<string>0</string>
				<key>uuid</key>
				<string>4E084086-E056-4E98-98AF-6B8FD5731030</string>
			</dict>
		</array>
		<key>Network_ProcessCount</key>
		<integer>15</integer>
		<key>Notifications-Enabled</key>
		<false/>
		<key>Notifications-Items</key>
		<array/>
		<key>Sensors-Limits-Updated</key>
		<true/>
		<key>StatusItems-Order</key>
		<array>
			<integer>7</integer>
			<integer>6</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>4</integer>
		</array>
		<key>Time_CLockSortMode</key>
		<integer>1</integer>
		<key>Time_Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>Eastern Time</string>
				<key>country</key>
				<string>United States</string>
				<key>identifier</key>
				<integer>-1</integer>
				<key>latitude</key>
				<real>40.714269999999999</real>
				<key>longitude</key>
				<real>-74.005970000000005</real>
				<key>state</key>
				<string></string>
				<key>timezone</key>
				<string>America/New_York</string>
			</dict>
			<dict>
				<key>city</key>
				<string>Pacific Time</string>
				<key>country</key>
				<string>United States</string>
				<key>identifier</key>
				<integer>-4</integer>
				<key>latitude</key>
				<real>34.052230000000002</real>
				<key>longitude</key>
				<real>-118.24368</real>
				<key>state</key>
				<string></string>
				<key>timezone</key>
				<string>America/Los_Angeles</string>
			</dict>
			<dict>
				<key>city</key>
				<string>Madrid</string>
				<key>country</key>
				<string>Spain</string>
				<key>identifier</key>
				<integer>3117735</integer>
				<key>latitude</key>
				<real>40.416499999999999</real>
				<key>longitude</key>
				<real>-3.7025600000000001</real>
				<key>state</key>
				<string>Madrid</string>
				<key>timezone</key>
				<string>Europe/Madrid</string>
			</dict>
			<dict>
				<key>city</key>
				<string>London</string>
				<key>country</key>
				<string>United Kingdom</string>
				<key>identifier</key>
				<integer>2643743</integer>
				<key>latitude</key>
				<real>51.50853</real>
				<key>longitude</key>
				<real>-0.12573999999999999</real>
				<key>state</key>
				<string>England</string>
				<key>timezone</key>
				<string>Europe/London</string>
			</dict>
		</array>
		<key>Time_DropdownOrderDisabled</key>
		<string>calendar,buttons</string>
		<key>Time_MenubarFormat</key>
		<array>
			<dict>
				<key>format</key>
				<array>
					<array>
						<string>EE</string>
						<string>' '</string>
						<string>HH</string>
						<string>:</string>
						<string>mm</string>
					</array>
				</array>
			</dict>
		</array>
		<key>TimerFrequency</key>
		<integer>0</integer>
	</dict>
	<key>version</key>
	<string>6.73</string>
</dict>
</plist>
