{{ range joinPath .chezmoi.sourceDir "dot_local/share/fonts/*" | glob }}
# {{ include . | sha1sum }}
{{ end}}
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole]::Administrator))
{
  if (Get-Command sudo)
  {
    sudo pwsh "$($MyInvocation.MyCommand.Path)"
  } else
  {
    $CommandLine = "-NoExit -NoProfile -File `"" + $MyInvocation.MyCommand.Path + "`""
    Start-Process -Wait -FilePath powershell -Verb Runas -ArgumentList $CommandLine
  }
  Exit
}

$fontFolder = "$Env:USERPROFILE\.local\share\chezmoi\dot_local\share\fonts"
$shellFolder = (New-Object -COMObject Shell.Application).Namespace($fontFolder)

foreach ($fontFile in Get-ChildItem $fontFolder)
{
  $registryKeyName = $shellFolder.GetDetailsOf($shellFolder.ParseName($fontFile.Name), 21 <# Title #>) + ' (TrueType)'
  New-ItemProperty 'HKLM:\Software\Microsoft\Windows NT\CurrentVersion\Fonts' $registryKeyName -Force -PropertyType string -Value $fontFile.Name > $null
  Copy-Item $fontFile.FullName $env:windir\Fonts
}
