#!/usr/bin/env sh
# {{ include "Library/Application Support/swiftbar-plugins/package.json" | sha1sum }}
cd ~/Library/Application\ Support/swiftbar-plugins || exit
bun install
chflags hidden node_modules
