[alias]
  lg = log --pretty='format:%Cgreen%ah%Creset %s'
  s = status --short
  rau = "!repo=$(git ls-remote --get-url origin | sed 's/\\.git$//' | sed 's/.*[/:]\\(.*\\/.*\\)$/\\1/'); case $repo in thebengeu/*) upstream_url=$(curl --header 'Authorization: Bearer '{{ (ejsonDecrypt (print .chezmoi.sourceDir "/secrets.ejson")).github_token_repo }}'' --silent https://api.github.com/repos/$repo | jq -r .parent.ssh_url); if [ $upstream_url != null ]; then git remote add upstream $upstream_url; fi;; esac"
[core]
  pager = delta
[delta]
  navigate = true
  theme = Catppuccin-mocha
[diff]
  colorMoved = default
[init]
  templateDir = ~/.config/git/template
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[pull]
  rebase = true
[rebase]
  autoStash = true
[safe]
  directory = *
[user]
  email = beng@bengeu.com
  name = Beng Eu
