local module = {}

function module.apply_to_config(config)
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  config.default_domain = "WSL:Ubuntu"
{{-   end }}
{{- end }}
end

return module
