local module = {}

function module.apply_to_config(config)
{{- if eq .chezmoi.os "windows" }}
  config.default_prog = {
    "C:/msys64/usr/bin/fish.exe",
    "--login"
  }
{{- end }}
end

return module
