{{range $name, $lines_and_parameters := .functions -}}
def {{$name}} [{{$lines_and_parameters.parameters | join ", "}}] {
{{- range $line := $lines_and_parameters.lines}}
  {{- range $i, $parameter := $lines_and_parameters.parameters}}
    {{- $line = regexReplaceAll (print "(\\$" $parameter ")") $line "(${1})"}}
  {{- end}}
    {{$line | replace "cd " "z "}}
{{- end}}
}
{{end}}

{{- range $alias, $command := index .platformSpecificAliases .chezmoi.os | merge .aliases -}}
  {{- if and (contains ";" $command) (not (hasPrefix "sh -c" $command))}}
    {{- $command = regexReplaceAll "(.*)" $command "sh -c '${1}'"}}
  {{- else}}
    {{- $command = regexReplaceAll "\\\\([^\"])" (regexReplaceAll "\\${([^}]+)}" $command "$$env.${1}" | replace "\\$" "$") "\\\\${1}"}}
  {{- end}}
alias {{$alias}} = {{$command | replace "$HOME" "~"}}
{{- end -}}
{{output "broot" "--print-shell-function" "nushell"}}
{{output "starship" "init" "nu"}}
{{output "zoxide" "init" "--no-cmd" "nushell" | replace "__zoxide_z" "z"}}
