{{range $name, $lines_and_parameters := .functions -}}
def {{$name}} [{{$lines_and_parameters.parameters | join ", "}}] {
{{- range $line := $lines_and_parameters.lines}}
  {{- range $i, $parameter := $lines_and_parameters.parameters}}
    {{- $line = $line | replaceAllRegex (print "(\\$" $parameter ")") "(${1})"}}
  {{- end}}
    {{$line | replace "cd " "z " | replace "mkdir -p" "mkdir" | replace "$(" "("}}
{{- end}}
}
{{end}}

{{- range $alias, $command := .nonExpandedAliases | merge .aliases -}}
  {{- if and (or (contains ";" $command) (contains "&&" $command)) (not (hasPrefix "sh -c" $command))}}
    {{- $command = $command | replaceAllRegex "(.*)" "sh -c '${1}'"}}
  {{- else}}
    {{- $command = $command | replaceAllRegex "\\${([^}]+)}" "$$env.${1}" | replace "\\$" "$" | replaceAllRegex "\\\\([^\"])" "\\\\${1}" | replace "$(" "("}}
  {{- end}}
alias {{$alias}} = {{$command | replace "$HOME" "~"}}
{{- end -}}
{{output "atuin" "init" "nu" "--disable-ctrl-r" "--disable-up-arrow"}}
{{output "broot" "--print-shell-function" "nushell"}}
{{output "starship" "init" "nu"}}
{{output "zoxide" "init" "--no-cmd" "nushell" | replace "def-env __zoxide_z" "def --env z"}}
