#!/usr/bin/env sh
# {{ include "ignored/ansible/roles/server/tasks/Ubuntu.yml" | sha1sum }}
# {{ include "ignored/ansible/roles/server/tasks/Ubuntu_become.yml" | sha1sum }}
ansible-playbook "${CHEZMOI_SOURCE_DIR}"/ignored/ansible/site.yml
