{{range $name, $body_and_parameters := .functions -}}
def {{$name}} [{{$body_and_parameters.parameters | join ", "}}] {
{{- range $body_and_parameters.body}}
    do --ignore-program-errors { {{.}} }
{{- end}}
}
{{- end}}

{{range $alias, $command := index .platformSpecificAliases .chezmoi.os | merge .aliases -}}
alias {{$alias}} = {{$command | replace "$HOME" "~"}}
{{end -}}
