{{range $name, $lines_and_parameters := .functions -}}
def {{$name}} [{{$lines_and_parameters.parameters | join ", "}}] {
{{- range $lines_and_parameters.lines}}
    do --ignore-program-errors { {{.}} }
{{- end}}
}
{{- end}}

{{range $alias, $command := index .platformSpecificAliases .chezmoi.os | merge .aliases -}}
alias {{$alias}} = {{$command | replace "$HOME" "~"}}
{{end -}}
{{output "broot" "--print-shell-function" "nushell"}}
