GHORG_ABSOLUTE_PATH_TO_CLONE_TO: {{ .chezmoi.homeDir }}
GHORG_CLONE_PROTOCOL: ssh
GHORG_COLOR: enabled
GHORG_GITHUB_TOKEN: {{ (ejsonDecrypt (print .chezmoi.sourceDir "/secrets.ejson")).github_token_repo }}
GHORG_INCLUDE_SUBMODULES: true
GHORG_RECLONE_VERBOSE: true
