{{range $environmentVariable, $value := .environmentVariables -}}
export {{$environmentVariable}}="{{$value}}"
{{end -}}

export CLOUDFLARE_API_TOKEN={{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).cloudflare_api_token }}
export HOMEBREW_GITHUB_API_TOKEN={{ (joinPath .chezmoi.sourceDir ".secrets.ejson" | ejsonDecrypt).github_token_repo }}
{{- if eq .chezmoi.os "darwin" }}
{{if eq .chezmoi.arch "arm64" }}
{{output "/opt/homebrew/bin/brew" "shellenv" "sh"}}
{{else}}
{{output "/usr/local/bin/brew" "shellenv" "sh"}}
{{end}}
{{end -}}
{{- if isExecutable "/home/linuxbrew/.linuxbrew/bin/brew" }}
{{output "/home/linuxbrew/.linuxbrew/bin/brew" "shellenv" "sh"}}
{{end}}

{{range $path := .paths -}}
export PATH={{$path}}:$PATH
{{end -}}
{{range $name, $lines_and_parameters := .functions -}}
function {{$name}} () {
{{- range $line := $lines_and_parameters.lines}}
  {{- range $i, $parameter := $lines_and_parameters.parameters}}
    {{- $line = $line | replace $parameter ($i | add1 | toString)}}
  {{- end}}
  {{$line}}
{{- end}}
}
{{end}}
{{range $alias, $command := .nonExpandedAliases | merge .aliases -}}
function {{$alias}} () {
  {{$command | replace "$HOME" "~"}} $@
}
{{end -}}
alias kubectl=kubecolor

function br {
    local cmd cmd_file code
    cmd_file=$(mktemp)
    if broot --outcmd "$cmd_file" "$@"; then
{{- if eq .chezmoi.os "windows" }}
        eval $(cat $cmd_file | sed -E 's/cd "?([^"]+)"?/builtin cd (cygpath "\1")/')

{{- else }}
        cmd=$(<"$cmd_file")
        eval "$cmd"
{{- end }}
        command rm -f "$cmd_file"
    else
        code=$?
        command rm -f "$cmd_file"
        return "$code"
    fi
}

{{- if lookPath "luarocks" }}
{{ $lrBin := output "luarocks" "path" "--lr-bin" | trim }}
export PATH={{- if eq .chezmoi.os "windows"}}{{ output "cygpath" $lrBin | trim }}{{else}}{{ $lrBin }}{{end -}}:$PATH
{{end -}}
{{- if lookPath "vivid" }}
export LS_COLORS='{{ output "vivid" "generate" "catppuccin-mocha" | trim }}'
{{end -}}
