[commands]
supabase = "git -C $HOME/supabase all pull --quiet"
tv = "tv update-channels"
uv = "uv tool upgrade --all"
yazi = "ya pkg upgrade"
{{- if ne .chezmoi.os "linux"}}
cursor = "cursor --update-extensions"
kiro = "kiro --update-extensions"
windsurf = "windsurf --update-extensions"
{{- end}}
{{- if ne .chezmoi.os "windows"}}
steampipe = "steampipe plugin update --all"
{{- end}}
[misc]
assume_yes = true
disable = [
  "chezmoi",
  "containers",
{{- if eq .chezmoi.os "linux"}}
  "gcloud",
{{- end}}
  "jetbrains_pycharm",
{{- if eq .chezmoi.os "windows"}}
  "spicetify",
{{- end}}
  "uv",
  "vim",
  "wsl",
]
no_retry = true
[npm]
use_sudo = true
