[commands]
steampipe = "steampipe plugin update --all"
supabase = "git -C ~/supabase all pull"
uv = "uv tool upgrade --all"
yazi = "ya pack --upgrade"
[misc]
assume_yes = true
disable = [
  "chezmoi",
  "containers",
{{- if eq .chezmoi.os "linux"}}
  "gcloud",
{{- end}}
  "uv",
  "vim",
  "wsl",
]
no_retry = true
[npm]
use_sudo = true
