{{- template "generated-posix-shell-rc.sh.tmpl" . -}}
{{output "starship" "init" "bash" "--print-full-init"}}
{{output "atuin" "init" "bash" "--disable-ctrl-r" "--disable-up-arrow"}}
{{output "zoxide" "init" "--cmd" "cd" "bash"}}
