- ansible.builtin.file:
    mode: "755"
    path: ~/.pulumi/bin
    state: directory
- ansible.builtin.unarchive:
    creates: ~/.pulumi/bin/pulumi
    dest: ~/.pulumi/bin
    extra_opts:
      - --strip-components=1
    remote_src: true
    src: https://get.pulumi.com/releases/sdk/pulumi-v3.86.0-linux-{{ (arch.stdout == 'amd64') | ternary('x64', arch.stdout) }}.tar.gz
- ansible.builtin.file:
    mode: "755"
    path: ~/.temporalio/bin
    state: directory
- ansible.builtin.unarchive:
    creates: ~/.temporalio/bin/temporal
    dest: ~/.temporalio/bin
    extra_opts:
      - temporal
    remote_src: true
    src: https://temporal.download/cli/archive/latest?platform=linux&arch={{ arch.stdout }}
- ansible.builtin.git:
    dest: ~/thebengeu/neovim
    force: true
    repo: https://github.com/thebengeu/neovim
    version: 60cd8d19cf0a354fba66334611644a68c9f67878
- ansible.builtin.command:
    chdir: ~/thebengeu/neovim
    cmd: make CMAKE_BUILD_TYPE=Release
    creates: ~/thebengeu/neovim/build/
- ansible.builtin.command:
    chdir: ~/thebengeu/neovim/build
    cmd: cpack -G DEB
    creates: ~/thebengeu/neovim/build/nvim-linux64.deb
- ansible.builtin.apt:
    deb: /home/{{ ansible_user_id }}/thebengeu/neovim/build/nvim-linux64.deb
  become: true
- community.general.alternatives:
    name: editor
    path: /usr/bin/nvim
  become: true
- ansible.builtin.user:
    append: true
    groups: docker
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/fish
  become: true
- ansible.builtin.get_url:
    dest: /tmp/rustup-init
    mode: "755"
    url: https://static.rust-lang.org/rustup/dist/{{ ansible_machine }}-unknown-linux-gnu/rustup-init
- ansible.builtin.command:
    cmd: /tmp/rustup-init --no-modify-path --profile minimal -y
    creates: ~/.cargo/env
- ansible.builtin.command:
    cmd: nix profile install nixpkgs#{{ item }}
    creates: ~/.nix-profile/bin/{{ item }}
  loop:
    - bat
    - carapace
    - direnv
    - fd
    - tmux
- ansible.builtin.command:
    cmd: go install filippo.io/age/cmd/...@latest
    creates: ~/go/bin/age
- ansible.builtin.command:
    cmd: go install cuelang.org/go/cmd/cue@latest
    creates: ~/go/bin/cue
- ansible.builtin.command:
    cmd: cargo install --locked cargo-binstall
    creates: ~/.cargo/bin/cargo-binstall
  environment:
    PATH: /usr/bin:/home/{{ ansible_user_id }}/.cargo/bin
- ansible.builtin.command:
    cmd: cargo binstall --locked --no-confirm {{ item }}
    creates: ~/.cargo/bin/{{ item }}
  environment:
    PATH: /usr/bin:/home/{{ ansible_user_id }}/.cargo/bin
  loop:
    - atuin
    - broot
    - fnm
    - just
    - ripgrep
    - starship
    - vivid
    - zoxide
- ansible.builtin.get_url:
    dest: /tmp/pyenv-installer
    mode: "755"
    url: https://pyenv.run
- ansible.builtin.command:
    cmd: /tmp/pyenv-installer
    creates: ~/.pyenv
- ansible.builtin.get_url:
    dest: /tmp/kitty-installer
    mode: "755"
    url: https://sw.kovidgoyal.net/kitty/installer.sh
- ansible.builtin.command:
    cmd: /tmp/kitty-installer launch=n
    creates: ~/.local/kitty.app
- ansible.builtin.file:
    dest: ~/.local/bin/kitty
    src: ~/.local/kitty.app/bin/kitty
    state: link
- ansible.builtin.copy:
    dest: ~/.local/share/applications/
    mode: "644"
    remote_src: true
    src: ~/.local/kitty.app/share/applications/kitty.desktop
- ansible.builtin.copy:
    dest: ~/.local/share/applications/
    mode: "644"
    remote_src: true
    src: ~/.local/kitty.app/share/applications/kitty-open.desktop
- ansible.builtin.lineinfile:
    line: Icon=/home/{{ ansible_user_id }}/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
    path: "{{ item }}"
    regexp: ^Icon=
  loop:
    - ~/.local/share/applications/kitty.desktop
    - ~/.local/share/applications/kitty-open.desktop
- ansible.builtin.lineinfile:
    line: Exec=/home/{{ ansible_user_id }}/.local/kitty.app/bin/kitty
    path: "{{ item }}"
    regexp: ^Exec=
  loop:
    - ~/.local/share/applications/kitty.desktop
    - ~/.local/share/applications/kitty-open.desktop
