- ansible.builtin.command: dpkg --print-architecture
  changed_when: false
  register: arch
- community.general.timezone:
    name: Asia/Singapore
- community.general.sudoers:
    commands: ALL
    name: "{{ ansible_user_id }}"
    user: "{{ ansible_user_id }}"
- ansible.builtin.apt_key:
    keyring: /etc/apt/keyrings/docker.gpg
    url: https://download.docker.com/linux/ubuntu/gpg
  when: ansible_virtualization_type != "wsl"
- ansible.builtin.apt_repository:
    filename: docker
    repo: deb [arch={{ arch.stdout }} signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
  when: ansible_virtualization_type != "wsl"
- ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/jgmath2000-ubuntu-et.gpg
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xd3614cb0b3c2d154356bd436cb4adea5b72a07a1
- ansible.builtin.apt_repository:
    filename: jgmath2000-ubuntu-et-{{ ansible_distribution_release }}
    repo: ppa:jgmath2000/et
- ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/fish-shell-ubuntu-release-3.gpg
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x59fda1ce1b84b3fad89366c027557f056dc33ca5
- ansible.builtin.apt_repository:
    filename: fish-shell-ubuntu-release-3-{{ ansible_distribution_release }}
    repo: ppa:fish-shell/release-3
- ansible.builtin.apt_key:
    keyring: /usr/share/keyrings/githubcli-archive-keyring.gpg
    url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
- ansible.builtin.apt_repository:
    filename: github-cli
    repo: deb [arch={{ arch.stdout }} signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main
- ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/longsleep-ubuntu-golang-backports.gpg
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x52b59b1571a79dbc054901c0f6bc817356a3d45e
- ansible.builtin.apt_repository:
    filename: longsleep-ubuntu-golang-backports-{{ ansible_distribution_release }}
    repo: ppa:longsleep/golang-backports
- ansible.builtin.apt_key:
    keyring: /usr/share/keyrings/cloud.google.gpg
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
- ansible.builtin.apt_repository:
    filename: google-cloud-sdk
    repo: deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main
- ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/maveonair-ubuntu-helix-editor.gpg
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x27642b9fd7f1a161fc2524e3355a4fa515d7c855
- ansible.builtin.apt_repository:
    filename: maveonair-ubuntu-helix-editor-{{ ansible_distribution_release }}
    repo: ppa:maveonair/helix-editor
- ansible.builtin.apt_key:
    keyring: /usr/share/keyrings/nodesource.gpg
    url: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
- ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/neovim-ppa-ubuntu-unstable.gpg
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x9dbb0be9366964f134855e2255f96fcf8231b6dd
- ansible.builtin.apt_repository:
    filename: neovim-ppa-ubuntu-unstable-{{ ansible_distribution_release }}
    repo: ppa:neovim-ppa/unstable
- ansible.builtin.apt_repository:
    filename: nodesource
    repo: deb [signed-by=/usr/share/keyrings/nodesource.gpg] https://deb.nodesource.com/node_22.x nodistro main
- ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/apt.postgresql.org.gpg
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
- ansible.builtin.apt_repository:
    filename: pgdg
    repo: deb http://apt-archive.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg-archive main
- ansible.builtin.apt_key:
    keyring: /usr/share/keyrings/stripe.gpg
    url: https://packages.stripe.dev/api/security/keypair/stripe-cli-gpg/public
- ansible.builtin.apt_repository:
    filename: stripe
    repo: deb [signed-by=/usr/share/keyrings/stripe.gpg] https://packages.stripe.dev/stripe-cli-debian-local stable main
- ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/wslutilities-ubuntu-wslu.gpg
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x254f460f2970e18123046570c1d0e7e6ab4095d6
- ansible.builtin.apt_repository:
    filename: wslutilities-ubuntu-wslu-{{ ansible_distribution_release }}
    repo: ppa:wslutilities/wslu
- ansible.builtin.apt_key:
    keyring: /usr/share/keyrings/wezterm-fury.gpg
    url: https://apt.fury.io/wez/gpg.key
- ansible.builtin.apt_repository:
    filename: wezterm
    repo: deb [signed-by=/usr/share/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez/ * *
- ansible.builtin.apt:
    name:
      - clangd-15
      - cmake
      - curl
      - fish
      - gettext
      - gh
      - golang-go
      - jq
      - libssl-dev
      - mosquitto
      - ninja-build
      - nodejs
      - openssh-server
      - postgresql
      - postgresql-client
      - protobuf-compiler
      - python-is-python3
      - python3-pip
      - python3-venv
      - unzip
      - wezterm
    update_cache: true
- ansible.builtin.apt:
    name:
      - containerd.io
      - docker-ce
      - docker-ce-cli
      - docker-compose-plugin
    update_cache: true
  when: ansible_virtualization_type != "wsl"
- ansible.builtin.apt:
    name:
      - wslu
    update_cache: true
  when: ansible_virtualization_type == "wsl"
- community.general.alternatives:
    link: /usr/bin/clangd
    name: clangd
    path: /usr/bin/clangd-15
- ansible.builtin.copy:
    dest: /etc/mosquitto/conf.d/default.conf
    force: false
    mode: "644"
    src: default.conf
- ansible.builtin.group:
    name: docker
- ansible.builtin.command:
    cmd: ssh-keygen -A
    creates: /etc/ssh/ssh_host_*
- ansible.builtin.lineinfile:
    line: AcceptEnv USERDOMAIN
    path: /etc/ssh/sshd_config
- ansible.builtin.lineinfile:
    line: PasswordAuthentication no
    path: /etc/ssh/sshd_config
    search_string: PasswordAuthentication
- ansible.builtin.replace:
    path: /etc/ssh/sshd_config
    regexp: ^#(ListenAddress 0.0.0.0)$
    replace: \1
- ansible.builtin.lineinfile:
    line: Port 24
    path: /etc/ssh/sshd_config
    regexp: ^#?Port \d+$
  when: ansible_virtualization_type == "wsl" or ansible_virtualization_type == "lxc"
- ansible.builtin.service:
    name: ssh
    state: reloaded
- ansible.builtin.command:
    cmd: corepack enable
    creates: /usr/bin/pnpm
- ansible.builtin.get_url:
    dest: /tmp/nix-installer
    mode: "755"
    url: https://install.determinate.systems/nix/nix-installer-{{ ansible_machine }}-linux
- ansible.builtin.command:
    cmd: /tmp/nix-installer install --no-confirm
    creates: /nix/
- community.general.snap:
    channel: edge
    classic: true
    name: neovim
