{:devices {:built-in [{:is_built_in_keyboard true}]},
 :main
   [{:des "Layer 1",
     :rules [[:##q :page_up ["layer" 1]]
             [:##w :home ["layer" 1]]
             [:##e :up_arrow ["layer" 1]]
             [:##r :end ["layer" 1]]
             [:##u :1 ["layer" 1]]
             [:##i :2 ["layer" 1]]
             [:##o :3 ["layer" 1]]
             [:##a :page_down ["layer" 1]]
             [:##s :left_arrow ["layer" 1]]
             [:##d :down_arrow ["layer" 1]]
             [:##f :right_arrow ["layer" 1]]
             [:##j :4 ["layer" 1]]
             [:##k :5 ["layer" 1]]
             [:##l :6 ["layer" 1]]
             [:##m :7 ["layer" 1]]
             [:##comma :8 ["layer" 1]]
             [:##period :9 ["layer" 1]]]}
    {:des "Layer 2",
     :rules [[:##w :!Cw ["layer" 2]]
             [:##e :!CSopen_bracket ["layer" 2]]
             [:##r :!CSclose_bracket ["layer" 2]]]}
    {:des "caps_lock to control and escape",
     :rules [[:##caps_lock {:key :left_control, :lazy true}
              :built-in
              {:alone :escape, :held :left_control}]]}
    {:des "left_control to control and escape",
     :rules [[:##left_control {:key :left_control, :lazy true}
              :built-in
              {:alone :escape, :held :left_control}]]}
    {:des "right_command to control-option-shift",
     :rules [[:##right_command :!TOright_shift :built-in]]}
    {:des "right_control to fn", :rules [[:##right_control :fn]]}
    {:des "right_option to layer 1",
     :rules [[:##right_option ["layer" 1] :built-in {:afterup ["layer" 0]}]]}
    {:des "tab to layer 2",
     :rules
       [[:##tab ["layer" 2] :built-in {:afterup ["layer" 0], :alone :tab}]]}],
 :profiles {:Default {:alone 150, :default true, :held 150}}}
