#!/usr/bin/env sh
# {{ include "ignored/Brewfile" | sha1sum }}
extensions=$(grep ^vscode "${CHEZMOI_SOURCE_DIR}/ignored/Brewfile" | grep -v ms-vscode-remote.remote-wsl | cut -d'"' -f2)
echo "${extensions}" | xargs -n1 cursor --install-extension
echo "${extensions}" | xargs -n1 windsurf --install-extension
