#!/usr/bin/env sh
# {{ include "ignored/Brewfile" | sha1sum }}
editors=(
  cursor
  kiro
  windsurf
)
extensions=$(grep ^vscode "${CHEZMOI_SOURCE_DIR}/ignored/Brewfile" | grep -Ev 'bierner|github.copilot|ms-azuretools.vscode-containers|ms-python.vscode-pylance|ms-vscode' | cut -d'"' -f2)

for editor in "${editors[@]}"; do
  echo "${extensions}" | xargs -n1 "${editor}" --install-extension
  "${editor}" --uninstall-extension vscodevim.vim || true
done
